body,
html {
  height: min-content;
  width: 100vw;
  margin: 0 !important;
  position: absolute;
}

html {
  scroll-behavior: smooth;
}
.topnav {
  display: none;
}

#navbar {
  background-color: rgb(57, 57, 57);
  display: inline-block;
  position: fixed;
  width: 100vw;
  min-width: 850px;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 0px;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-right: 2.5vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#navbar a:hover {
  color: #fb6f92;
}

#navTitle {
  float: left;
  display: block;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #fb6f92;
  text-align: center;
  padding: 1.5%;
  padding-left: 6vw;
  text-decoration: none;
  letter-spacing: .2rem;
}

#navbar a#contactButton {
  padding-right: 7vw;
}

/* class for parallax effects*/
.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#home {
  margin-top: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#bg1 {
  display: block;
  width: 45%;
  height: 100vh;
  background-image: url("happy_kids_2.webp");
  background-size: contain;
  background-color: #628aac;
  border-right: #070806;
  border-width: 2%;
  background-position: 0 0;
}

#mainCard {
  width: 55%;
  min-height: min-content;
  min-width: min-content;
  height: 100vh;
  text-wrap: nowrap;
  background:
    linear-gradient(to bottom,
      rgb(142, 193, 237),
      rgb(142, 193, 237) 100%,
      transparent 1rem,
      transparent 100%);
}

a.ContactUsButton {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  border-width: 0px;
  min-width: min-content;
  color: white;
  padding: 2%;
  border-style: solid;
  border-radius: 20px;
  margin: 0 auto;
  font-size: 1em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

a.ContactUsButton:hover {
  background-color: #575757;
}

/* div {
    text-overflow: clip;
    white-space: nowrap;
  } */
div {
  text-overflow: ellipsis;
}

.aboutMeTitleWhite {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3em;
  text-align: center;
  margin-top: 5vh;
  color: black;
}

.advancedTitleWhite {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  text-align: center;
  padding-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  color: #d44317;
}

.homeTitleWhite {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  color: white;
}

#homeMainTitleWhite {
  margin-top: 18vh;
}

#homeTitle2WhiteTop {
  margin-top: 4%;
}

.homeTitle2White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
  text-wrap: balance;
  margin-top: 1%;
  color: #070806;
  margin-left: 7%;
  margin-right: 7%;
}
#homeTitle2WhiteBottom {
  margin-bottom: 2%;
}


.homeTitle3White {
  font-family: 'Pacifico';
  letter-spacing: 0.1em;
  text-wrap: pretty;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 1.8em;
  text-align: center;
  margin-top: 6%;
  color: #d44317;
  font-weight: 500;
}

.aboutMeTitle2White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  text-align: center;
  margin-top: 6vh;
  margin-left: 2%;
  margin-right: 2%;
  color: black;
}

.aboutMeTitle4White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
  color: black;
}



.advancedTitle4White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: justify;
  margin-right: 4vw;
  margin-top: 4%;
  color: white;
}

#aboutme {
  display: flex;
  flex-direction: row;
  width: 97vw;
  margin-top: 5vh;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}

div#aboutmeCard {
  box-shadow: 5px 0px 5px rgb(229, 229, 229);
  text-wrap: pretty;
  min-width: min-content;
  flex: 1;
  width: max-content;
  /* min-width: 1000px; */
  /* p */
  min-height: min-contents;
  padding-left: 2em;
  background:
    linear-gradient(to bottom,
      #dab894,
      #dab894 100%,
      transparent 1rem,
      transparent 100%);
}

div.advancedTrainingContainer {
  display: flex;
  flex-direction: row;
  width: 97vw;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}
#AdvancedTrainingTxt {
  text-align: left;
  margin-left: 15%;
}

div.myApproachCard {
  box-shadow: 5px 0px 5px rgb(229, 229, 229);
  flex: 1;
  /* min-width: 1447px; */
  width: 37%;
  min-width: min-content;
  min-height: min-content;
  background:
    linear-gradient(to bottom,
      #dab894,
      #dab894 100%,
      transparent 1rem,
      transparent 100%);
  margin-bottom: 4vh
}

div.approachTitle3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: black;
}
div.approachTitle3Bold {
  font-weight: 900;
}

div.approachTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  text-align: center;
  padding-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 3%;
  color: black;
}

div.advancedTrainingCard {
  flex: 1;
  box-shadow: 5px 5px 5px rgb(229, 229, 229);
  min-width: min-content;
  text-wrap: pretty;
  text-align: center;
  /* min-width: 1447px; */
  width: 63%;
  background:
    linear-gradient(to bottom,
      #dab894,
      #dab894 100%,
      transparent 1rem,
      transparent 100%);
  margin-bottom: 4vh
}

#personImage {
  box-shadow: 5px 0px 5px rgb(229, 229, 229);
  /* min-width: 400px; */
  /* height: 120vh; */
  background-image: url("personMainImage.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

img#personImg {
  content: url("personMainImage.jpg");
  height: 33%;
  width: 33.86%;
  margin: 3%;
  margin-top: 2%;
  margin-right: 4%;
  border-radius: 50%;
}

#servicesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

a#therapyAnchor {
  display: block;
  position: relative;
  top: -8vh;
  visibility: hidden;
}

.servicesCard {
  flex: 1;
  margin-top: 0.65vh;
  margin-left: 0.65vw;
  box-shadow: 3px 3px 3px 3px rgb(229, 229, 229);
  width: 19vw;
  /* min-width: 292px; */
  min-height: 440px;
  min-width: min-content;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
}

.readMoreLessButton {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-radius: 1vh;
  font-size: 0.5em;
  margin-bottom: 6vh;
}

.readMoreLessButton:hover {
  background-color: rgb(227, 227, 227);
  border-color: rgb(227, 227, 227);
}

#ssdisordersmore {
  display: none;
}

#ldisordersmore {
  display: none;
}

#asdisordersmore {
  display: none;
}

#fsdifficultiesmore {
  display: none;
}

#pcoachingmore {
  display: none;
}

div#ssdisorders {
  background-color: rgb(142, 174, 237);
}

div#ldisorders {
  background-color: #f0bea4;
}

div#asdisorders {
  background-color: #dab894;
}

div#fsdifficulties {
  background-color: #a7bed3;
}

div#pcoaching {
  background-color: rgb(237, 142, 166);
}

div.servicesTitleText {
  color: black;
  margin-top: 6vh;
  font-weight: 800px;
}

.therapyPoint {
  color: black;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-top: 0.6vh;
  font-weight: 800px;
  font-size: 0.6em;
  text-align: left;
  text-wrap: balance;
}

li#firstTherapyPoint {
  margin-top: 5vh;
}

.advancedPoint {
  color: black;
  margin-left: 14%;
  margin-right: 10%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 800px;
  font-size: 1.0em;
  text-align: left;
  text-wrap: balance;
}
.advancedPointBold {
  color: black;
  margin-left: 14%;
  margin-right: 10%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
  font-weight: 800px;
  font-size: 1.0em;
  text-align: left;
  text-wrap: balance;
  font-weight: bold;
}

#advancedPointLast {
  margin-bottom: 6%;
}

.servicesExtraText {
  color: black;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 5vh;
  font-weight: 800px;
  font-size: 0.6em;
  text-align: left;
}

div#servicesHeadingCard {
  width: 100vw;
  min-width: 100vw;
  height: 18vh;
  text-align: center;
  font-size: 2.5em;
  padding-top: 12vh;
  color: rgb(57, 57, 57);
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom,
      gray,
      gray 2vh,
      transparent 15px,
      transparent 100%);
}

div#aboutMeHeadingCard {
  width: 100vw;
  min-width: 100vw;
  height: 18vh;
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.8vh;
  padding-top: 12vh;
  color: rgb(57, 57, 57);
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to bottom,
      gray,
      gray 2vh,
      transparent 15px,
      transparent 100%);
}

div#aboutMeTxt {
  margin-top: 4vh;
  text-align: center;
}

div.contactCard {
  box-shadow: 5px 5px 5px rgb(229, 229, 229);
  height: min-content;
  /* min-width: 1300px; */
  width: 94%;
  padding-left: 2rem;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  background:
    linear-gradient(to bottom,
      gray,
      gray 100%,
      transparent 1rem,
      transparent 100%);
  margin-bottom: 5vh;
}

.contactTitle2White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  text-align: center;
  margin-top: 2vh;
  color: white;
}

.contactTitle3White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 3vh;
  padding-bottom: 3vh;
  color: white;
}

a.link {
  color: rgb(79, 196, 243);
}

.contactTitleWhite {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2em;
  text-align: center;
  padding-top: 4vh;

  color: white;
}

.contactTitle4White {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  color: white;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {

  /* Style the navigation menu */
  .topnav {
    display: block;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: absolute;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: black;
    background-color: rgb(237, 237, 237);
    font-family: 'Open Sans', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(57, 57, 57);
    color: white;
    display: block;
    position: absolute;
    font-size: 1em;
    margin-right: 3%;
    right: 0;
    top: 0;
  }

  /* Style the active link (or home/logo) */
  a.active {
    background-color: rgb(57, 57, 57);
    color: #fb6f92;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }

  /* Styles */
  body,
  html {
    height: fit-content;
    width: 100vw;
    margin: 0 !important;
    position: absolute;
  }

  html {
    scroll-behavior: smooth;
  }

  #navbar {
    display: none;
  }

  #bg1 {
    display: block;
    width: 100%;
    height: 40vh;
    background-image: url("happy_kids_2.webp");
    background-size: contain;
    background-color: #628aac;
    border-right: #070806;
    border-width: 2%;
    background-position: 0 0;
  }

  #mainCard {
    width: 100%;
    min-height: min-content;
    min-width: min-content;
    height: min-content;
    text-wrap: wrap;
    padding-left: 4%;
    padding-right: 4%;
    background:
      linear-gradient(to bottom,
        rgb(142, 193, 237),
        rgb(142, 193, 237) 100%,
        transparent 1rem,
        transparent 100%);
  }

  #home {
    margin-top: 10%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  #homeMainTitleWhite {
    margin-top: 25%;
  }

  .homeTitle3White {
    font-family: 'Pacifico';
    letter-spacing: 0.1em;
    text-wrap: pretty;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20%;
    font-size: 1.6em;
    text-align: center;
    margin-top: 6%;
    color: #d44317;
    font-weight: 500;
  }

  #servicesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  div#servicesHeadingCard {
    width: 100vw;
    min-width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 2.0em;
    padding-top: 6.5vh;
    color: rgb(57, 57, 57);
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,
        gray,
        gray 2vh,
        transparent 15px,
        transparent 100%);
  }

  .servicesCard {
    flex: 1;
    margin-top: 0.65vh;
    margin-left: 0.65vw;
    box-shadow: 3px 3px 3px 3px rgb(229, 229, 229);
    width: 100%;
    /* min-width: 292px; */
    min-height: 430px;
    min-width: min-content;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1.7em;
    font-family: 'Open Sans', sans-serif;
  }

  div#aboutMeHeadingCard {
    width: 100vw;
    min-width: 100vw;
    height: 12vh;
    text-align: center;
    font-size: 2.0em;
    margin-top: 0.8vh;
    padding-top: 6.5vh;
    color: rgb(57, 57, 57);
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,
        gray,
        gray 2vh,
        transparent 15px,
        transparent 100%);
  }

  #aboutme {
    display: flex;
    flex-direction: column;
    width: 97vw;
    margin-top: 0vh;
    margin-bottom: 0%;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  img#personImg {
    content: url("personMainImage.jpg");
    height: 80%;
    width: 80%;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 10%;
    border-radius: 50%;
  }

  div#aboutmeCard {
    box-shadow: 5px 0px 5px rgb(229, 229, 229);
    text-wrap: pretty;
    min-width: min-content;
    flex: 1;
    width: 94%;
    /* min-width: 1000px; */
    /* p */
    min-height: min-contents;
    padding-left: 3%;
    padding-right: 3%;
    background:
      linear-gradient(to bottom,
        #dab894,
        #dab894 100%,
        transparent 1rem,
        transparent 100%);
    padding-bottom: 10%;
  }

  .aboutMeTitleWhite {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0em;
    text-align: center;
    margin-top: 5vh;
    color: black;
  }

  .aboutMeTitle2White {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    text-align: center;
    margin-top: 3vh;
    margin-left: 2%;
    margin-right: 2%;
    color: black;
  }

  .aboutMeTitle4White {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    text-wrap: pretty;
    padding-top: 8%;
    margin-top: 2%;
    margin-bottom: 5%;
    color: black;
  }

  div.advancedTrainingContainer {
    display: flex;
    flex-direction: column;
    width: 97vw;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  div.contactCard {
    display: block;
    box-shadow: 5px 5px 5px rgb(229, 229, 229);
    height: min-content;
    width: 81.5%;
    /* min-width: 1300px; */
    text-wrap: wrap;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1%;
    margin-right: 1.5vw;
    background:
      linear-gradient(to bottom,
        gray,
        gray 100%,
        transparent 1rem,
        transparent 100%);
    margin-bottom: 5vh;
  }
  .contactTitleWhite {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0em;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 5%;
  
    color: white;
  }
  .contactTitle2White {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
    margin-top: 0%;
    color: white;
  }
  .contactTitle3White {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 15%;
    color: white;
  }
  .contactTitle4White {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    color: white;
  }

  div.myApproachCard {
    box-shadow: 5px 0px 5px rgb(229, 229, 229);
    /* min-width: 1447px; */
    width: 100%;
    min-width: min-content;
    min-height: min-content;
    background-color: #dab894;
    margin-bottom: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  div.approachTitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0em;
    text-align: center;
    padding-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    color: black;
  }

  div.approachTitle3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    text-align: left;
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    color: black;
  }
  div.approachTitle3Bold {
    font-weight: 900;
  }

  div.advancedTrainingCard {
    box-shadow: 5px 5px 5px rgb(229, 229, 229);
    min-width: min-content;
    text-wrap: pretty;
    text-align: center;
    /* min-width: 1447px; */
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: #dab894;
  }

  .advancedTitleWhite {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0em;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    color: #d44317;
  }

}